@import "https://fonts.googleapis.com/css?family=Raleway:400,500";
/* line 1, ../../compass/sass/layout/_nav.scss */
.navbar-fixed-top {
  background-color: #ffffff;
  border-bottom: 1px solid gray;
}
/* line 5, ../../compass/sass/layout/_nav.scss */
.navbar-fixed-top img {
  max-width: 40px;
}
/* line 9, ../../compass/sass/layout/_nav.scss */
.navbar-fixed-top .navbar-brand {
  font-family: 'Lobster', cursive;
  color: #0dd5b2;
}

/* line 1, ../../compass/sass/layout/_regi-dropdown.scss */
.regi-dropdown {
  min-width: 300px;
  margin: 0;
  padding: 20px;
}
/* line 5, ../../compass/sass/layout/_regi-dropdown.scss */
.regi-dropdown .button-holder {
  padding-top: 10px;
}
/* line 8, ../../compass/sass/layout/_regi-dropdown.scss */
.regi-dropdown .reg-success-wrapper {
  margin: auto;
  text-align: center !important;
  margin-top: 55px;
}

@-webkit-keyframes checkmark {
  0% {
    stroke-dashoffset: 50px;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@-ms-keyframes checkmark {
  0% {
    stroke-dashoffset: 50px;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes checkmark {
  0% {
    stroke-dashoffset: 50px;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes checkmark-circle {
  0% {
    stroke-dashoffset: 240px;
  }
  100% {
    stroke-dashoffset: 480px;
  }
}
@-ms-keyframes checkmark-circle {
  0% {
    stroke-dashoffset: 240px;
  }
  100% {
    stroke-dashoffset: 480px;
  }
}
@keyframes checkmark-circle {
  0% {
    stroke-dashoffset: 240px;
  }
  100% {
    stroke-dashoffset: 480px;
  }
}
/* other styles */
/* .svg svg {
    display: none
}
 */
/* line 80, ../../compass/sass/layout/_regi-dropdown.scss */
.inlinesvg .svg svg {
  display: inline;
}

/* .svg img {
    display: none
} */
/* line 88, ../../compass/sass/layout/_regi-dropdown.scss */
.icon--order-success svg path {
  -webkit-animation: checkmark 0.25s ease-in-out 0.7s backwards;
  animation: checkmark 0.25s ease-in-out 0.7s backwards;
}

/* line 93, ../../compass/sass/layout/_regi-dropdown.scss */
.icon--order-success svg circle {
  -webkit-animation: checkmark-circle 0.6s ease-in-out backwards;
  animation: checkmark-circle 0.6s ease-in-out backwards;
}

/* line 1, ../../compass/sass/layout/_login-dropdown.scss */
.login-dropdown {
  min-width: 300px;
  margin: 0;
  padding: 20px;
}
/* line 5, ../../compass/sass/layout/_login-dropdown.scss */
.login-dropdown .button-holder {
  padding-top: 10px;
}
/* line 8, ../../compass/sass/layout/_login-dropdown.scss */
.login-dropdown .new-here {
  text-align: center;
  margin-top: 10px;
}
/* line 11, ../../compass/sass/layout/_login-dropdown.scss */
.login-dropdown .new-here p {
  margin-bottom: 0;
}
/* line 16, ../../compass/sass/layout/_login-dropdown.scss */
.login-dropdown .alert {
  height: 38px;
  padding: 9px;
}

/* line 6, ../../compass/sass/views/_home.scss */
* {
  color: black;
}

/* line 1, ../../compass/sass/layout/_post.scss */
.post {
  max-width: 400px;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #e0e0e0;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../compass/sass/layout/_post.scss */
.post .top-bar {
  display: flex;
  align-items: center;
}
/* line 17, ../../compass/sass/layout/_post.scss */
.post .username {
  font-size: 17px;
  font-weight: bold;
  margin-left: 5px;
}
/* line 29, ../../compass/sass/layout/_post.scss */
.post .avatar-wrapper {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  z-index: 5;
}
/* line 36, ../../compass/sass/layout/_post.scss */
.post .avatar-wrapper .avatar {
  height: 40px;
  z-index: 4;
}
/* line 42, ../../compass/sass/layout/_post.scss */
.post .vote {
  font-size: 22px;
  text-align: center;
}
/* line 45, ../../compass/sass/layout/_post.scss */
.post .vote span {
  color: #ddd;
}
/* line 49, ../../compass/sass/layout/_post.scss */
.post .vote .num {
  color: #0dd5b2;
}
/* line 54, ../../compass/sass/layout/_post.scss */
.post .time {
  margin-left: 15px;
  color: #B8C6C4;
}
/* line 59, ../../compass/sass/layout/_post.scss */
.post p {
  margin-top: 10px;
  color: #3f4443;
}

/* line 1, ../../compass/sass/layout/_follow_list.scss */
.follow-list {
  max-width: 600px;
  margin: auto;
  font-size: 18px;
}
/* line 8, ../../compass/sass/layout/_follow_list.scss */
.follow-list .follow-list-title {
  text-align: center;
  margin-bottom: 25px;
}
/* line 11, ../../compass/sass/layout/_follow_list.scss */
.follow-list .follow-list-title span {
  font-family: 'Lobster', cursive;
  font-size: 28px;
  color: #0dd5b2;
}
/* line 17, ../../compass/sass/layout/_follow_list.scss */
.follow-list .follow-list-title p {
  margin-top: 50px;
  color: #aaa;
  font-size: 20px;
}
/* line 25, ../../compass/sass/layout/_follow_list.scss */
.follow-list .follow-list-user {
  text-align: center;
}
/* line 28, ../../compass/sass/layout/_follow_list.scss */
.follow-list .follow-list-user .follow-list-avatar-wrapper:hover > .follow-overlay {
  display: block;
}
/* line 33, ../../compass/sass/layout/_follow_list.scss */
.follow-list .follow-list-user .follow-list-avatar-wrapper:hover > .follow-list-avatar {
  opacity: 0.5;
}
/* line 38, ../../compass/sass/layout/_follow_list.scss */
.follow-list .follow-list-user .follow-list-avatar-wrapper {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  z-index: 5;
  margin: auto;
}
/* line 48, ../../compass/sass/layout/_follow_list.scss */
.follow-list .follow-list-user .follow-list-avatar-wrapper .follow-list-avatar {
  height: 120px;
  overflow: hidden;
  transition: .3s;
}
/* line 55, ../../compass/sass/layout/_follow_list.scss */
.follow-list .follow-list-user .follow-list-avatar-wrapper .follow-overlay {
  color: white;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 50px;
  display: none;
}
/* line 69, ../../compass/sass/layout/_follow_list.scss */
.follow-list .follow-list-user .follow-list-username span {
  color: #666 !important;
}

/* line 1, ../../compass/sass/layout/_new_post.scss */
.new-post {
  overflow: hidden;
  width: 400px;
  margin: 30px auto;
  max-width: 400px;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #e0e0e0;
}
/* line 11, ../../compass/sass/layout/_new_post.scss */
.new-post .top-bar {
  display: flex;
  align-items: center;
}
/* line 16, ../../compass/sass/layout/_new_post.scss */
.new-post .username {
  font-size: 14px;
  font-weight: bold;
  color: #647170;
  margin-left: 5px;
}
/* line 23, ../../compass/sass/layout/_new_post.scss */
.new-post .avatar-wrapper {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  z-index: 5;
}
/* line 30, ../../compass/sass/layout/_new_post.scss */
.new-post .avatar-wrapper .avatar {
  height: 40px;
  z-index: 4;
}
/* line 37, ../../compass/sass/layout/_new_post.scss */
.new-post .vote {
  font-size: 22px;
  text-align: center;
}
/* line 40, ../../compass/sass/layout/_new_post.scss */
.new-post .vote span {
  color: #ddd;
}
/* line 44, ../../compass/sass/layout/_new_post.scss */
.new-post .vote .num {
  color: #0dd5b2;
}
/* line 49, ../../compass/sass/layout/_new_post.scss */
.new-post .time {
  margin-left: 15px;
  color: #B8C6C4;
}
/* line 54, ../../compass/sass/layout/_new_post.scss */
.new-post p {
  margin-top: 10px;
  color: #3f4443;
}
/* line 59, ../../compass/sass/layout/_new_post.scss */
.new-post textarea {
  margin: 10px 5px;
  font-size: 15px;
  outline: none;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  width: 340px;
  resize: none;
}
/* line 78, ../../compass/sass/layout/_new_post.scss */
.new-post .bottom-row {
  text-align: right;
  border-top: 1px solid #e6e6e6;
  margin-right: 10px;
  margin-top: 15px;
}
/* line 86, ../../compass/sass/layout/_new_post.scss */
.new-post .bottom-row input {
  background-color: white;
  color: #0dd5b2;
  text-size: 16px;
  margin: 5px 0 0 0;
  border: none;
}
/* line 94, ../../compass/sass/layout/_new_post.scss */
.new-post .bottom-row input:active {
  background-color: white;
  color: #0dd5b2;
}
/* line 99, ../../compass/sass/layout/_new_post.scss */
.new-post .bottom-row input:focus {
  outline: none !important;
  background-color: white;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  color: #ddd;
}
/* line 109, ../../compass/sass/layout/_new_post.scss */
.new-post .bottom-row input:hover {
  color: #bbb;
}

/* line 1, ../../compass/sass/layout/_front_page.scss */
.front-page {
  padding-top: 40px;
  color: #777;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
/* line 6, ../../compass/sass/layout/_front_page.scss */
.front-page .header {
  font-size: 35px;
}
/* line 9, ../../compass/sass/layout/_front_page.scss */
.front-page .header, .front-page .sub-header, .front-page .sub-sub-header {
  color: #666;
}

/* line 31, ../../compass/sass/styles.scss */
body {
  background-color: #fafafa;
  margin-top: 80px;
}
